# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Streamlit
.streamlit/

# Uploaded files
uploaded_files/*

# FAISS index
faiss_index/*

# VS Code
.vscode/

# macOS
.DS_Store